In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [189]:
import cufflinks as cf
from plotly.offline import download_plotlyjs,init_notebook_mode,iplot
init_notebook_mode(connected=True)
cf.go_offline()

In [78]:
import os
for dirname, _, filenames in os.walk('./kaggle-survey-2019'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

./kaggle-survey-2019\multiple_choice_responses.csv
./kaggle-survey-2019\other_text_responses.csv
./kaggle-survey-2019\questions_only.csv
./kaggle-survey-2019\survey_schema.csv
./kaggle-survey-2019\kaggle-survey-2017\conversionRates.csv
./kaggle-survey-2019\kaggle-survey-2017\freeformResponses.csv
./kaggle-survey-2019\kaggle-survey-2017\multipleChoiceResponses.csv
./kaggle-survey-2019\kaggle-survey-2017\RespondentTypeREADME.txt
./kaggle-survey-2019\kaggle-survey-2017\schema.csv
./kaggle-survey-2019\kaggle-survey-2018\freeFormResponses.csv
./kaggle-survey-2019\kaggle-survey-2018\multipleChoiceResponses.csv
./kaggle-survey-2019\kaggle-survey-2018\SurveySchema.csv

In [13]:
mcr = pd.read_csv('kaggle-survey-2019/multiple_choice_responses.csv')
otr = pd.read_csv('kaggle-survey-2019/other_text_responses.csv')
qny = pd.read_csv('kaggle-survey-2019/questions_only.csv')
ss = pd.read_csv('kaggle-survey-2019/survey_schema.csv')

In [121]:
mcr18 = pd.read_csv('kaggle-survey-2019\kaggle-survey-2018\multipleChoiceResponses.csv')
mcr17 = pd.read_csv('kaggle-survey-2019\kaggle-survey-2017\multipleChoiceResponses.csv',encoding='ISO-8859-1')

C:\Users\AI\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3018: DtypeWarning: Columns (31,83,86,87,98,99,109,116,123,124,127,129,130,164) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [87]:
mcr17.head()

,GenderSelect,Country,Age,EmploymentStatus,StudentStatus,LearningDataScience,CodeWriter,CareerSwitcher,CurrentJobTitleSelect,TitleFit,...,JobFactorExperienceLevel,JobFactorDepartment,JobFactorTitle,JobFactorCompanyFunding,JobFactorImpact,JobFactorRemote,JobFactorIndustry,JobFactorLeaderReputation,JobFactorDiversity,JobFactorPublishingOpportunity
0,"Non-binary, genderqueer, or gender non-conforming",NaN,NaN,Employed full-time,NaN,NaN,Yes,NaN,DBA/Database Engineer,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Female,United States,30.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somewhat important,NaN,NaN
2,Male,Canada,28.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important
3,Male,United States,56.0,"Independent contractor, freelancer, or self-em...",NaN,NaN,Yes,NaN,Operations Research Practitioner,Poorly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Male,Taiwan,38.0,Employed full-time,NaN,NaN,Yes,NaN,Computer Scientist,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
mcr17_summ = pd.DataFrame({'dtype':mcr17.dtypes,'nunique':mcr17.nunique(),
              'quest':mcr17.columns.tolist(),
              'values_list':[mcr17[i].value_counts().index.tolist() for i in mcr17.columns.tolist()]})

In [113]:
mcr17_summ.head()

,dtype,nunique,quest,values_list
GenderSelect,object,4,GenderSelect,"[Male, Female, A different identity, Non-binar..."
Country,object,52,Country,"[United States, India, Other, Russia, United K..."
Age,category,10,Age,"[30-34, 18-21, 22-24, 25-29, 35-39, 40-44, 45-..."
EmploymentStatus,object,7,EmploymentStatus,"[Employed full-time, Not employed, but looking..."
StudentStatus,object,2,StudentStatus,"[Yes, No]"

In [123]:
mcr17['Age'] = pd.cut(mcr17['Age'],[18,22,25,30,35,40,45,50,55,60,70,80,90],labels=['25-29', '22-24', '30-34', '18-21', '35-39', '40-44', '45-49', '50-54',
       '55-59', '60-69','70-79','80+'])

In [125]:
mcr17['Age'].value_counts()

30-34    3998
18-21    2795
22-24    2706
25-29    1866
35-39    1822
40-44    1101
45-49     789
50-54     480
55-59     324
60-69     255
70-79      40
80+         2
Name: Age, dtype: int64

In [90]:
mcr182 = mcr18.loc[1:]

In [91]:
mcr18_summ = pd.DataFrame({'dtype':mcr182.dtypes,'nunique':mcr182.nunique(),
              'quest':mcr18.loc[0],
              'values_list':[mcr182[i].value_counts().index.tolist() for i in mcr182.columns.tolist()]})

In [92]:
mcr18_summ

,dtype,nunique,quest,values_list
Time from Start to Finish (seconds),object,7641,Duration (in seconds),"[142, 101, 94, 156, 102, 93, 134, 106, 131, 10..."
Q1,object,4,What is your gender? - Selected Choice,"[Male, Female, Prefer not to say, Prefer to se..."
Q1_OTHER_TEXT,object,69,What is your gender? - Prefer to self-describe...,"[-1, -1, 42, 25, 20, 14, 11, 63, 18, 29, 26, 2..."
Q2,object,12,What is your age (# years)?,"[25-29, 22-24, 30-34, 18-21, 35-39, 40-44, 45-..."
Q3,object,58,In which country do you currently reside?,"[United States of America, India, China, Other..."
Q4,object,7,What is the highest level of formal education ...,"[Master’s degree, Bachelor’s degree, Doctoral ..."
Q5,object,13,Which best describes your undergraduate major?...,"[Computer science (software engineering, etc.)..."
Q6,object,21,Select the title most similar to your current ...,"[Student, Data Scientist, Software Engineer, D..."
Q6_OTHER_TEXT,object,900,Select the title most similar to your current ...,"[-1, -1, 7, 41, 43, 28, 81, 70, 85, 187, 24, 1..."
Q7,object,19,In what industry is your current employer/cont...,"[Computers/Technology, I am a student, Academi..."
Q7_OTHER_TEXT,object,587,In what industry is your current employer/cont...,"[-1, -1, 1, 89, 9, 41, 26, 15, 85, 65, 111, 24..."
Q8,object,11,How many years of experience do you have in yo...,"[0-1, 1-2, 2-3, 5-10, 3-4, 10-15, 4-5, 15-20, ..."
Q9,object,19,What is your current yearly compensation (appr...,[I do not wish to disclose my approximate year...
Q10,object,6,Does your current employer incorporate machine...,[We are exploring ML methods (and may one day ...
Q11_Part_1,object,1,Select any activities that make up an importan...,[Analyze and understand data to influence prod...
Q11_Part_2,object,1,Select any activities that make up an importan...,[Build and/or run a machine learning service t...
Q11_Part_3,object,1,Select any activities that make up an importan...,[Build and/or run the data infrastructure that...
Q11_Part_4,object,1,Select any activities that make up an importan...,[Build prototypes to explore applying machine ...
Q11_Part_5,object,1,Select any activities that make up an importan...,[Do research that advances the state of the ar...
Q11_Part_6,object,1,Select any activities that make up an importan...,[None of these activities are an important par...
Q11_Part_7,object,1,Select any activities that make up an importan...,[Other]
Q11_OTHER_TEXT,object,407,Select any activities that make up an importan...,"[-1, -1, 16, 27, 16, 23, 27, 5, 55, 136, 5, 83..."
Q12_MULTIPLE_CHOICE,object,6,What is the primary tool that you use at work ...,[Local or hosted development environments (RSt...
Q12_Part_1_TEXT,object,1274,What is the primary tool that you use at work ...,"[-1, -1, 1, 10, 2, 1, 11, 76, 10, 41, 6, 31, 1..."
Q12_Part_2_TEXT,object,533,What is the primary tool that you use at work ...,"[-1, -1, 16, 4, 8, 1, 63, 10, 3, 55, 2, 68, 91..."
Q12_Part_3_TEXT,object,507,What is the primary tool that you use at work ...,"[-1, -1, 1, 4, 34, 1, 44, 21, 2, 10, 37, 53, 1..."
Q12_Part_4_TEXT,object,3515,What is the primary tool that you use at work ...,"[-1, -1, 0, 13, 5, 4, 37, 10, 21, 51, 56, 105,..."
Q12_Part_5_TEXT,object,570,What is the primary tool that you use at work ...,"[-1, -1, 4, 1, 0, 32, 8, 4, 1, 0, 33, 14, 85, ..."
Q12_OTHER_TEXT,object,1148,What is the primary tool that you use at work ...,"[-1, -1, 15, 11, 6, 10, 14, 3, 23, 1, 11, 15, ..."
Q13_Part_1,object,1,Which of the following integrated development ...,[Jupyter/IPython]
...,...,...,...,...
Q47_Part_10,object,1,What methods do you prefer for explaining and/...,[Sensitivity analysis/perturbation importance]
Q47_Part_11,object,1,What methods do you prefer for explaining and/...,[LIME functions]
Q47_Part_12,object,1,What methods do you prefer for explaining and/...,[ELI5 functions]
Q47_Part_13,object,1,What methods do you prefer for explaining and/...,[SHAP functions]
Q47_Part_14,object,1,What methods do you prefer for explaining and/...,[None/I do not use these model explanation tec...
Q47_Part_15,object,1,What methods do you prefer for explaining and/...,[Other]
Q47_Part_16,object,127,What methods do you prefer for explaining and/...,"[None, ROC, confusion matrix, ROC analysis, Ba..."
Q48,object,5,"Do you consider ML models to be ""black boxes"" ...",[I am confident that I can understand and expl...
Q49_Part_1,object,1,What tools and methods do you use to make your...,[Share code on Github or a similar code-sharin...
Q49_Part_2,object,1,What tools and methods do you use to make your...,[Share both data and code on Github or a simil...
Q49_Part_3,object,1,What tools and methods do you use to make your...,"[Share data, code, and environment using a hos..."
Q49_Part_4,object,1,What tools and methods do you use to make your...,"[Share data, code, and environment using conta..."
Q49_Part_5,object,1,What tools and methods do you use to make your...,"[Share code, data, and environment using virtu..."
Q49_Part_6,object,1,What tools and methods do you use to make your...,[Make sure the code is well documented]
Q49_Part_7,object,1,What tools and methods do you use to make your...,[Make sure the code is human-readable]
Q49_Part_8,object,1,What tools and methods do you use to make your...,[Define all random seeds]
Q49_Part_9,object,1,What tools and methods do you use to make your...,[Define relative rather than absolute file paths]
Q49_Part_10,object,1,What tools and methods do you use to make your...,[Include a text file describing all dependencies]
Q49_Part_11,object,1,What tools and methods do you use to make your...,[None/I do not make my work easy for others to...
Q49_Part_12,object,1,What tools and methods do you use to make your...,[Other]
Q49_OTHER_TEXT,object,171,What tools and methods do you use to make your...,"[-1, -1, 47, 60, 68, 75, 74, 73, 72, 71, 70, 6..."
Q50_Part_1,object,1,What barriers prevent you from making your wor...,[Too expensive]
Q50_Part_2,object,1,What barriers prevent you from making your wor...,[Too time-consuming]
Q50_Part_3,object,1,What barriers prevent you from making your wor...,[Requires too much technical knowledge]
Q50_Part_4,object,1,What barriers prevent you from making your wor...,[Afraid that others will use my work without g...
Q50_Part_5,object,1,What barriers prevent you from making your wor...,[Not enough incentives to share my work]
Q50_Part_6,object,1,What barriers prevent you from making your wor...,[I had never considered making my work easier ...
Q50_Part_7,object,1,What barriers prevent you from making your wor...,[None of these reasons apply to me]
Q50_Part_8,object,1,What barriers prevent you from making your wor...,[Other]
Q50_OTHER_TEXT,object,414,What barriers prevent you from making your wor...,"[-1, -1, 120, 48, 195, 299, 31, 40, 43, 44, 58..."

In [71]:
ss.head(10)

,2019 Kaggle Machine Learning and Data Science Survey,Q1,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,...,Q31,Q32,Q33,Q34,Q4,Q5,Q6,Q7,Q8,Q9
0,Question:,What is your age (# years)?,What is your current yearly compensation (appr...,Approximately how much money have you spent on...,Who/what are your favorite media sources that ...,On which platforms have you begun or completed...,What is the primary tool that you use at work ...,How long have you been writing code to analyze...,Which of the following integrated development ...,Which of the following hosted notebook product...,...,Which specific big data / analytics products d...,Which of the following machine learning produc...,Which automated machine learning tools (or par...,Which of the following relational database pro...,What is the highest level of formal education ...,Select the title most similar to your current ...,What is the size of the company where you are ...,Approximately how many individuals are respons...,Does your current employer incorporate machine...,Select any activities that make up an importan...
1,# of Respondents:,19717,12497,12250,16781,16569,15690,15627,14627,14443,...,7078,7050,7015,6994,19323,19107,14002,13623,13227,9226
2,Who was excluded? (0 = not excluded; 1 = exclu...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,If What is your age (# years)? 0-17 Is Selected,0,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,If Select the title most similar to your curre...,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
5,If How long have you been writing code to anal...,0,0,0,0,0,0,0,1,1,...,1,1,1,1,0,0,0,0,0,0
6,If Approximately how much money have you spent...,0,0,0,0,0,0,0,0,0,...,1,1,1,1,0,0,0,0,0,0
7,If Which of the following ML algorithms do you...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,If Which of the following ML algorithms do you...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,If Does your current employer incorporate mach...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [39]:
questions = qny.loc[0].values.tolist()

In [151]:
mcr2.loc[mcr2['Q1'] == '70+','Q1'] = '70-79'

C:\Users\AI\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\AI\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [152]:
mcr2['Q1'].value_counts()

25-29    4458
22-24    3610
30-34    3120
18-21    2502
35-39    2087
40-44    1439
45-49     949
50-54     692
55-59     422
60-69     338
70-79     100
Name: Q1, dtype: int64

In [70]:



mcr_summ = pd.DataFrame({'dtype':mcr2.dtypes,'nunique':mcr2.nunique(),
              'quest':mcr.loc[0],
              'values_list':[mcr2[i].value_counts().index.tolist() for i in mcr2.columns.tolist()]})

In [72]:
mcr_summ

,dtype,nunique,quest,values_list
Time from Start to Finish (seconds),object,5304,Duration (in seconds),"[450, 434, 412, 123, 142, 335, 449, 495, 419, ..."
Q1,object,11,What is your age (# years)?,"[25-29, 22-24, 30-34, 18-21, 35-39, 40-44, 45-..."
Q2,object,4,What is your gender? - Selected Choice,"[Male, Female, Prefer not to say, Prefer to se..."
Q2_OTHER_TEXT,object,48,What is your gender? - Prefer to self-describe...,"[-1, -1, 0, 9, 17, 26, 25, 24, 23, 22, 21, 20,..."
Q3,object,59,In which country do you currently reside?,"[India, United States of America, Other, Brazi..."
Q4,object,7,What is the highest level of formal education ...,"[Master’s degree, Bachelor’s degree, Doctoral ..."
Q5,object,12,Select the title most similar to your current ...,"[Data Scientist, Student, Software Engineer, O..."
Q5_OTHER_TEXT,object,960,Select the title most similar to your current ...,"[-1, -1, 34, 46, 64, 7, 46, 176, 34, 41, 4, 69..."
Q6,object,5,What is the size of the company where you are ...,"[0-49 employees, > 10,000 employees, 1000-9,99..."
Q7,object,7,Approximately how many individuals are respons...,"[20+, 1-2, 3-4, 0, 5-9, 10-14, 15-19]"
Q8,object,6,Does your current employer incorporate machine...,[We are exploring ML methods (and may one day ...
Q9_Part_1,object,1,Select any activities that make up an importan...,[Analyze and understand data to influence prod...
Q9_Part_2,object,1,Select any activities that make up an importan...,[Build and/or run the data infrastructure that...
Q9_Part_3,object,1,Select any activities that make up an importan...,[Build prototypes to explore applying machine ...
Q9_Part_4,object,1,Select any activities that make up an importan...,[Build and/or run a machine learning service t...
Q9_Part_5,object,1,Select any activities that make up an importan...,[Experimentation and iteration to improve exis...
Q9_Part_6,object,1,Select any activities that make up an importan...,[Do research that advances the state of the ar...
Q9_Part_7,object,1,Select any activities that make up an importan...,[None of these activities are an important par...
Q9_Part_8,object,1,Select any activities that make up an importan...,[Other]
Q9_OTHER_TEXT,object,140,Select any activities that make up an importan...,"[-1, -1, 82, 80, 79, 78, 77, 76, 75, 74, 73, 7..."
Q10,object,25,What is your current yearly compensation (appr...,"[$0-999, 10,000-14,999, 100,000-124,999, 30,00..."
Q11,object,6,Approximately how much money have you spent on...,"[$0 (USD), $100-$999, $1000-$9,999, $1-$99, $1..."
Q12_Part_1,object,1,Who/what are your favorite media sources that ...,[Twitter (data science influencers)]
Q12_Part_2,object,1,Who/what are your favorite media sources that ...,[Hacker News (https://news.ycombinator.com/)]
Q12_Part_3,object,1,Who/what are your favorite media sources that ...,"[Reddit (r/machinelearning, r/datascience, etc)]"
Q12_Part_4,object,1,Who/what are your favorite media sources that ...,"[Kaggle (forums, blog, social media, etc)]"
Q12_Part_5,object,1,Who/what are your favorite media sources that ...,"[Course Forums (forums.fast.ai, etc)]"
Q12_Part_6,object,1,Who/what are your favorite media sources that ...,"[YouTube (Cloud AI Adventures, Siraj Raval, etc)]"
Q12_Part_7,object,1,Who/what are your favorite media sources that ...,"[Podcasts (Chai Time Data Science, Linear Digr..."
Q12_Part_8,object,1,Who/what are your favorite media sources that ...,"[Blogs (Towards Data Science, Medium, Analytic..."
...,...,...,...,...
Q32_Part_10,object,1,Which of the following machine learning produc...,[Amazon SageMaker]
Q32_Part_11,object,1,Which of the following machine learning produc...,[None]
Q32_Part_12,object,1,Which of the following machine learning produc...,[Other]
Q32_OTHER_TEXT,object,122,Which of the following machine learning produc...,"[-1, -1, 11, 9, 31, 8, 68, 49, 8, 9, 46, 58, 1..."
Q33_Part_1,object,1,Which automated machine learning tools (or par...,[ Google AutoML ]
Q33_Part_2,object,1,Which automated machine learning tools (or par...,[ H20 Driverless AI ]
Q33_Part_3,object,1,Which automated machine learning tools (or par...,[ Databricks AutoML ]
Q33_Part_4,object,1,Which automated machine learning tools (or par...,[ DataRobot AutoML ]
Q33_Part_5,object,1,Which automated machine learning tools (or par...,[ Tpot ]
Q33_Part_6,object,1,Which automated machine learning tools (or par...,[ Auto-Keras ]
Q33_Part_7,object,1,Which automated machine learning tools (or par...,[ Auto-Sklearn ]
Q33_Part_8,object,1,Which automated machine learning tools (or par...,[ Auto_ml ]
Q33_Part_9,object,1,Which automated machine learning tools (or par...,[ Xcessiv ]
Q33_Part_10,object,1,Which automated machine learning tools (or par...,[ MLbox ]
Q33_Part_11,object,1,Which automated machine learning tools (or par...,[None]
Q33_Part_12,object,1,Which automated machine learning tools (or par...,[Other]
Q33_OTHER_TEXT,object,83,Which automated machine learning tools (or par...,"[-1, -1, 8, 2, 21, 3, 54, 46, 40, 41, 42, 43, ..."
Q34_Part_1,object,1,Which of the following relational database pro...,[MySQL]
Q34_Part_2,object,1,Which of the following relational database pro...,[PostgresSQL]
Q34_Part_3,object,1,Which of the following relational database pro...,[SQLite]
Q34_Part_4,object,1,Which of the following relational database pro...,[Microsoft SQL Server]
Q34_Part_5,object,1,Which of the following relational database pro...,[Oracle Database]
Q34_Part_6,object,1,Which of the following relational database pro...,[Microsoft Access]
Q34_Part_7,object,1,Which of the following relational database pro...,[AWS Relational Database Service]
Q34_Part_8,object,1,Which of the following relational database pro...,[AWS DynamoDB]
Q34_Part_9,object,1,Which of the following relational database pro...,[Azure SQL Database]
Q34_Part_10,object,1,Which of the following relational database pro...,[Google Cloud SQL]
Q34_Part_11,object,1,Which of the following relational database pro...,[None]
Q34_Part_12,object,1,Which of the following relational database pro...,[Other]
Q34_OTHER_TEXT,object,167,Which of the following relational database pro...,"[-1, -1, 17, 35, 3, 6, 52, 3, 10, 124, 4, 58, ..."

In [73]:
questions

['Duration (in seconds)',
 'What is your age (# years)?',
 'What is your gender? - Selected Choice',
 'In which country do you currently reside?',
 'What is the highest level of formal education that you have attained or plan to attain within the next 2 years?',
 'Select the title most similar to your current role (or most recent title if retired): - Selected Choice',
 'What is the size of the company where you are employed?',
 'Approximately how many individuals are responsible for data science workloads at your place of business?',
 'Does your current employer incorporate machine learning methods into their business?',
 'Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice',
 'What is your current yearly compensation (approximate $USD)?',
 'Approximately how much money have you spent on machine learning and/or cloud computing products at your work in the past 5 years?',
 'Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice',
 'On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice',
 'What is the primary tool that you use at work or school to analyze data? (Include text response) - Selected Choice',
 'How long have you been writing code to analyze data (at work or at school)?',
 "Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice",
 'Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice',
 'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice',
 'What programming language would you recommend an aspiring data scientist to learn first? - Selected Choice',
 'What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice',
 'Which types of specialized hardware do you use on a regular basis?  (Select all that apply) - Selected Choice',
 'Have you ever used a TPU (tensor processing unit)?',
 'For how many years have you used machine learning methods?',
 'Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice',
 'Which categories of ML tools do you use on a regular basis?  (Select all that apply) - Selected Choice',
 'Which categories of computer vision methods do you use on a regular basis?  (Select all that apply) - Selected Choice',
 'Which of the following natural language processing (NLP) methods do you use on a regular basis?  (Select all that apply) - Selected Choice',
 'Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice',
 'Which of the following cloud computing platforms do you use on a regular basis? (Select all that apply) - Selected Choice',
 'Which specific cloud computing products do you use on a regular basis? (Select all that apply) - Selected Choice',
 'Which specific big data / analytics products do you use on a regular basis? (Select all that apply) - Selected Choice',
 'Which of the following machine learning products do you use on a regular basis? (Select all that apply) - Selected Choice',
 'Which automated machine learning tools (or partial AutoML tools) do you use on a regular basis?  (Select all that apply) - Selected Choice',
 'Which of the following relational database products do you use on a regular basis? (Select all that apply) - Selected Choice']

## Age groups

In [191]:
mcr2['Q1'].value_counts().iplot(kind='bar')

In [192]:
mcr182['Q2'].value_counts().iplot(kind='bar')

In [190]:
mcr17['Age'].value_counts().iplot(kind='bar')

In [181]:
mcr17['Age'].value_counts()

30-34    3998
18-21    2795
22-24    2706
25-29    1866
35-39    1822
40-44    1101
45-49     789
50-54     480
55-59     324
60-69     255
70-79      40
80+         2
Name: Age, dtype: int64

In [170]:
Age = pd.DataFrame([mcr17['Age'].value_counts(),mcr182['Q2'].value_counts(),mcr2['Q1'].value_counts()])

In [176]:
Age.rename(index = {'Age':'2017','Q2':'2018','Q1':'2019'},inplace=True)

In [194]:
Age.T.iplot(kind='bar')

### Compared to 2019 more younger people are interested in Data Science in 2018
### Age 40 and above people are gradually increasing by the year

In [195]:
Age.T.iplot(kind='line')

### Elder people are stared, younger people exploded, finally they find balance,--> 2017,2018,2019