In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [9]:
import os
for dirname, _, filenames in os.walk('./kaggle-survey-2019'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

./kaggle-survey-2019\multiple_choice_responses.csv
./kaggle-survey-2019\other_text_responses.csv
./kaggle-survey-2019\questions_only.csv
./kaggle-survey-2019\survey_schema.csv

In [13]:
mcr = pd.read_csv('kaggle-survey-2019/multiple_choice_responses.csv')
otr = pd.read_csv('kaggle-survey-2019/other_text_responses.csv')
qny = pd.read_csv('kaggle-survey-2019/questions_only.csv')
ss = pd.read_csv('kaggle-survey-2019/survey_schema.csv')

In [15]:
ss.shape

(10, 35)

In [71]:
ss.head(10)

,2019 Kaggle Machine Learning and Data Science Survey,Q1,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,...,Q31,Q32,Q33,Q34,Q4,Q5,Q6,Q7,Q8,Q9
0,Question:,What is your age (# years)?,What is your current yearly compensation (appr...,Approximately how much money have you spent on...,Who/what are your favorite media sources that ...,On which platforms have you begun or completed...,What is the primary tool that you use at work ...,How long have you been writing code to analyze...,Which of the following integrated development ...,Which of the following hosted notebook product...,...,Which specific big data / analytics products d...,Which of the following machine learning produc...,Which automated machine learning tools (or par...,Which of the following relational database pro...,What is the highest level of formal education ...,Select the title most similar to your current ...,What is the size of the company where you are ...,Approximately how many individuals are respons...,Does your current employer incorporate machine...,Select any activities that make up an importan...
1,# of Respondents:,19717,12497,12250,16781,16569,15690,15627,14627,14443,...,7078,7050,7015,6994,19323,19107,14002,13623,13227,9226
2,Who was excluded? (0 = not excluded; 1 = exclu...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,If What is your age (# years)? 0-17 Is Selected,0,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,If Select the title most similar to your curre...,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
5,If How long have you been writing code to anal...,0,0,0,0,0,0,0,1,1,...,1,1,1,1,0,0,0,0,0,0
6,If Approximately how much money have you spent...,0,0,0,0,0,0,0,0,0,...,1,1,1,1,0,0,0,0,0,0
7,If Which of the following ML algorithms do you...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,If Which of the following ML algorithms do you...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,If Does your current employer incorporate mach...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [39]:
questions = qny.loc[0].values.tolist()

In [22]:
mcr.head()

,Time from Start to Finish (seconds),Q1,Q2,Q2_OTHER_TEXT,Q3,Q4,Q5,Q5_OTHER_TEXT,Q6,Q7,...,Q34_Part_4,Q34_Part_5,Q34_Part_6,Q34_Part_7,Q34_Part_8,Q34_Part_9,Q34_Part_10,Q34_Part_11,Q34_Part_12,Q34_OTHER_TEXT
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,What is your gender? - Prefer to self-describe...,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,Select the title most similar to your current ...,What is the size of the company where you are ...,Approximately how many individuals are respons...,...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...
1,510,22-24,Male,-1,France,Master’s degree,Software Engineer,-1,"1000-9,999 employees",0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
2,423,40-44,Male,-1,India,Professional degree,Software Engineer,-1,"> 10,000 employees",20+,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
3,83,55-59,Female,-1,Germany,Professional degree,NaN,-1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
4,391,40-44,Male,-1,Australia,Master’s degree,Other,0,"> 10,000 employees",20+,...,NaN,NaN,NaN,NaN,NaN,Azure SQL Database,NaN,NaN,NaN,-1

In [70]:

#mcr2 = mcr[1:]

mcr_summ = pd.DataFrame({'dtype':mcr2.dtypes,'nunique':mcr2.nunique(),
              'quest':mcr.loc[0],
              'values_list':[mcr2[i].value_counts().index.tolist() for i in mcr2.columns.tolist()]})