In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [189]:
import cufflinks as cf
from plotly.offline import download_plotlyjs,init_notebook_mode,iplot
init_notebook_mode(connected=True)
cf.go_offline()

In [78]:
import os
for dirname, _, filenames in os.walk('./kaggle-survey-2019'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

./kaggle-survey-2019\multiple_choice_responses.csv
./kaggle-survey-2019\other_text_responses.csv
./kaggle-survey-2019\questions_only.csv
./kaggle-survey-2019\survey_schema.csv
./kaggle-survey-2019\kaggle-survey-2017\conversionRates.csv
./kaggle-survey-2019\kaggle-survey-2017\freeformResponses.csv
./kaggle-survey-2019\kaggle-survey-2017\multipleChoiceResponses.csv
./kaggle-survey-2019\kaggle-survey-2017\RespondentTypeREADME.txt
./kaggle-survey-2019\kaggle-survey-2017\schema.csv
./kaggle-survey-2019\kaggle-survey-2018\freeFormResponses.csv
./kaggle-survey-2019\kaggle-survey-2018\multipleChoiceResponses.csv
./kaggle-survey-2019\kaggle-survey-2018\SurveySchema.csv

In [13]:
mcr = pd.read_csv('kaggle-survey-2019/multiple_choice_responses.csv')
otr = pd.read_csv('kaggle-survey-2019/other_text_responses.csv')
qny = pd.read_csv('kaggle-survey-2019/questions_only.csv')
ss = pd.read_csv('kaggle-survey-2019/survey_schema.csv')

In [121]:
mcr18 = pd.read_csv('kaggle-survey-2019\kaggle-survey-2018\multipleChoiceResponses.csv')
mcr17 = pd.read_csv('kaggle-survey-2019\kaggle-survey-2017\multipleChoiceResponses.csv',encoding='ISO-8859-1')

C:\Users\AI\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3018: DtypeWarning: Columns (31,83,86,87,98,99,109,116,123,124,127,129,130,164) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [87]:
mcr17.head()

,GenderSelect,Country,Age,EmploymentStatus,StudentStatus,LearningDataScience,CodeWriter,CareerSwitcher,CurrentJobTitleSelect,TitleFit,...,JobFactorExperienceLevel,JobFactorDepartment,JobFactorTitle,JobFactorCompanyFunding,JobFactorImpact,JobFactorRemote,JobFactorIndustry,JobFactorLeaderReputation,JobFactorDiversity,JobFactorPublishingOpportunity
0,"Non-binary, genderqueer, or gender non-conforming",NaN,NaN,Employed full-time,NaN,NaN,Yes,NaN,DBA/Database Engineer,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Female,United States,30.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somewhat important,NaN,NaN
2,Male,Canada,28.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important
3,Male,United States,56.0,"Independent contractor, freelancer, or self-em...",NaN,NaN,Yes,NaN,Operations Research Practitioner,Poorly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Male,Taiwan,38.0,Employed full-time,NaN,NaN,Yes,NaN,Computer Scientist,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
mcr17_summ = pd.DataFrame({'dtype':mcr17.dtypes,'nunique':mcr17.nunique(),
              'quest':mcr17.columns.tolist(),
              'values_list':[mcr17[i].value_counts().index.tolist() for i in mcr17.columns.tolist()]})

In [113]:
mcr17_summ.head()

,dtype,nunique,quest,values_list
GenderSelect,object,4,GenderSelect,"[Male, Female, A different identity, Non-binar..."
Country,object,52,Country,"[United States, India, Other, Russia, United K..."
Age,category,10,Age,"[30-34, 18-21, 22-24, 25-29, 35-39, 40-44, 45-..."
EmploymentStatus,object,7,EmploymentStatus,"[Employed full-time, Not employed, but looking..."
StudentStatus,object,2,StudentStatus,"[Yes, No]"

In [123]:
mcr17['Age'] = pd.cut(mcr17['Age'],[18,22,25,30,35,40,45,50,55,60,70,80,90],labels=['25-29', '22-24', '30-34', '18-21', '35-39', '40-44', '45-49', '50-54',
       '55-59', '60-69','70-79','80+'])

In [125]:
mcr17['Age'].value_counts()

30-34    3998
18-21    2795
22-24    2706
25-29    1866
35-39    1822
40-44    1101
45-49     789
50-54     480
55-59     324
60-69     255
70-79      40
80+         2
Name: Age, dtype: int64

In [90]:
mcr182 = mcr18.loc[1:]

In [91]:
mcr18_summ = pd.DataFrame({'dtype':mcr182.dtypes,'nunique':mcr182.nunique(),
              'quest':mcr18.loc[0],
              'values_list':[mcr182[i].value_counts().index.tolist() for i in mcr182.columns.tolist()]})

In [196]:
mcr18_summ.head()

,dtype,nunique,quest,values_list
Time from Start to Finish (seconds),object,7641,Duration (in seconds),"[142, 101, 94, 156, 102, 93, 134, 106, 131, 10..."
Q1,object,4,What is your gender? - Selected Choice,"[Male, Female, Prefer not to say, Prefer to se..."
Q1_OTHER_TEXT,object,69,What is your gender? - Prefer to self-describe...,"[-1, -1, 42, 25, 20, 14, 11, 63, 18, 29, 26, 2..."
Q2,object,12,What is your age (# years)?,"[25-29, 22-24, 30-34, 18-21, 35-39, 40-44, 45-..."
Q3,object,58,In which country do you currently reside?,"[United States of America, India, China, Other..."

In [39]:
questions = qny.loc[0].values.tolist()

In [ ]:
mcr2.loc[mcr2['Q1'] == '70+','Q1'] = '70-79'

In [152]:
mcr2['Q1'].value_counts()

25-29    4458
22-24    3610
30-34    3120
18-21    2502
35-39    2087
40-44    1439
45-49     949
50-54     692
55-59     422
60-69     338
70-79     100
Name: Q1, dtype: int64

In [70]:

mcr_summ = pd.DataFrame({'dtype':mcr2.dtypes,'nunique':mcr2.nunique(),
              'quest':mcr.loc[0],
              'values_list':[mcr2[i].value_counts().index.tolist() for i in mcr2.columns.tolist()]})

In [197]:
mcr_summ.head()

,dtype,nunique,quest,values_list
Time from Start to Finish (seconds),object,5304,Duration (in seconds),"[450, 434, 412, 123, 142, 335, 449, 495, 419, ..."
Q1,object,11,What is your age (# years)?,"[25-29, 22-24, 30-34, 18-21, 35-39, 40-44, 45-..."
Q2,object,4,What is your gender? - Selected Choice,"[Male, Female, Prefer not to say, Prefer to se..."
Q2_OTHER_TEXT,object,48,What is your gender? - Prefer to self-describe...,"[-1, -1, 0, 9, 17, 26, 25, 24, 23, 22, 21, 20,..."
Q3,object,59,In which country do you currently reside?,"[India, United States of America, Other, Brazi..."

In [73]:
questions

['Duration (in seconds)',
 'What is your age (# years)?',
 'What is your gender? - Selected Choice',
 'In which country do you currently reside?',
 'What is the highest level of formal education that you have attained or plan to attain within the next 2 years?',
 'Select the title most similar to your current role (or most recent title if retired): - Selected Choice',
 'What is the size of the company where you are employed?',
 'Approximately how many individuals are responsible for data science workloads at your place of business?',
 'Does your current employer incorporate machine learning methods into their business?',
 'Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice',
 'What is your current yearly compensation (approximate $USD)?',
 'Approximately how much money have you spent on machine learning and/or cloud computing products at your work in the past 5 years?',
 'Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice',
 'On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice',
 'What is the primary tool that you use at work or school to analyze data? (Include text response) - Selected Choice',
 'How long have you been writing code to analyze data (at work or at school)?',
 "Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice",
 'Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice',
 'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice',
 'What programming language would you recommend an aspiring data scientist to learn first? - Selected Choice',
 'What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice',
 'Which types of specialized hardware do you use on a regular basis?  (Select all that apply) - Selected Choice',
 'Have you ever used a TPU (tensor processing unit)?',
 'For how many years have you used machine learning methods?',
 'Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice',
 'Which categories of ML tools do you use on a regular basis?  (Select all that apply) - Selected Choice',
 'Which categories of computer vision methods do you use on a regular basis?  (Select all that apply) - Selected Choice',
 'Which of the following natural language processing (NLP) methods do you use on a regular basis?  (Select all that apply) - Selected Choice',
 'Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice',
 'Which of the following cloud computing platforms do you use on a regular basis? (Select all that apply) - Selected Choice',
 'Which specific cloud computing products do you use on a regular basis? (Select all that apply) - Selected Choice',
 'Which specific big data / analytics products do you use on a regular basis? (Select all that apply) - Selected Choice',
 'Which of the following machine learning products do you use on a regular basis? (Select all that apply) - Selected Choice',
 'Which automated machine learning tools (or partial AutoML tools) do you use on a regular basis?  (Select all that apply) - Selected Choice',
 'Which of the following relational database products do you use on a regular basis? (Select all that apply) - Selected Choice']

## Age groups

In [191]:
mcr2['Q1'].value_counts().iplot(kind='bar')

In [192]:
mcr182['Q2'].value_counts().iplot(kind='bar')

In [190]:
mcr17['Age'].value_counts().iplot(kind='bar')

In [181]:
mcr17['Age'].value_counts()

30-34    3998
18-21    2795
22-24    2706
25-29    1866
35-39    1822
40-44    1101
45-49     789
50-54     480
55-59     324
60-69     255
70-79      40
80+         2
Name: Age, dtype: int64

In [170]:
Age = pd.DataFrame([mcr17['Age'].value_counts(),mcr182['Q2'].value_counts(),mcr2['Q1'].value_counts()])

In [ ]:
Age.rename(index = {'Age':'2017','Q2':'2018','Q1':'2019'},inplace=True)

In [194]:
Age.T.iplot(kind='bar')

### Compared to 2019 more younger people are interested in Data Science in 2018
### Age 40 and above people are gradually increasing by the year

In [195]:
Age.T.iplot(kind='line')

### Elder people are stared, younger people exploded, finally they find balance,--> 2017,2018,2019