In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder

In [3]:
import string
import itertools

In [4]:
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
train = pd.read_csv('cat-in-the-dat/train.csv')
test = pd.read_csv('cat-in-the-dat/test.csv')

In [6]:
train_id = train['id']
test_id = test['id']
target = train['target']

In [ ]:
#train.info()

In [ ]:
#test.info()

In [7]:
df = pd.concat([train.drop(labels=['id','target'],axis=1), test.drop(labels='id',axis=1)])

In [8]:
len(df.columns.values)

23

In [ ]:
#df_value_counts = df.apply(pd.Series.value_counts)
#df_value_counts

In [9]:
pre = ['bin_0','bin_1','bin_2','bin_3','bin_4','nom_0','nom_1','nom_2','nom_3','nom_4','nom_5','nom_6','nom_7','nom_8','nom_9','ord_0','ord_1','ord_2','ord_3','ord_4','ord_5','day','month']
type(pre)

list

In [ ]:
#%%time
#data = pd.get_dummies(df,prefix=pre)

In [ ]:
#df.info()

In [10]:
df_feat= df.columns.values.tolist()

In [11]:
bin_feat = df[['bin_0','bin_1','bin_2','bin_3','bin_4']]
nom_feat = df[['nom_0','nom_1','nom_2','nom_3','nom_4','nom_5','nom_6','nom_7','nom_8','nom_9']]
ord_feat = df[['ord_0','ord_1','ord_2','ord_3','ord_4','ord_5']]
cyc_feat = df[['day','month']]

In [12]:
def bin_tf(strn):
    if strn == 'T':
        
        return 1
    elif strn == 'F':
        return 0

def bin_yn(strn):
    if strn == 'Y':
        return 1
    elif strn == 'N':
        return 0

In [13]:
bin_feat['bin_3'] = bin_feat['bin_3'].apply(bin_tf)
bin_feat['bin_4'] = bin_feat['bin_4'].apply(bin_yn)

C:\Users\AI\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\AI\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
bin_feat.head()

   bin_0  bin_1  bin_2  bin_3  bin_4
0      0      0      0      1      1
1      0      1      0      1      1
2      0      0      0      0      1
3      0      1      0      0      1
4      0      0      0      0      0

In [15]:
bin_feat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500000 entries, 0 to 199999
Data columns (total 5 columns):
bin_0    500000 non-null int64
bin_1    500000 non-null int64
bin_2    500000 non-null int64
bin_3    500000 non-null int64
bin_4    500000 non-null int64
dtypes: int64(5)
memory usage: 22.9 MB

In [16]:
nom_feat.head()

,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9
0,Green,Triangle,Snake,Finland,Bassoon,50f116bcf,3ac1b8814,68f6ad3e9,c389000ab,2f4cb3d51
1,Green,Trapezoid,Hamster,Russia,Piano,b3b4d25d0,fbcb50fc1,3b6dd5612,4cd920251,f83c56c21
2,Blue,Trapezoid,Lion,Russia,Theremin,3263bdce5,0922e3cb8,a6a36f527,de9c9f684,ae6800dd0
3,Red,Trapezoid,Snake,Canada,Oboe,f12246592,50d7ad46a,ec69236eb,4ade6ab69,8270f0d71
4,Red,Trapezoid,Lion,Canada,Oboe,5b0f5acd5,1fe17a1fd,04ddac2be,cb43ab175,b164b72a7

In [17]:
num_nom = nom_feat.apply(pd.Series.value_counts)

In [18]:
num_nom.shape

(16276, 10)

In [3]:
label_en = LabelEncoder()

In [ ]:
labe

In [20]:
nom_feat.head()

,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9
0,Green,Triangle,Snake,Finland,Bassoon,50f116bcf,3ac1b8814,68f6ad3e9,c389000ab,2f4cb3d51
1,Green,Trapezoid,Hamster,Russia,Piano,b3b4d25d0,fbcb50fc1,3b6dd5612,4cd920251,f83c56c21
2,Blue,Trapezoid,Lion,Russia,Theremin,3263bdce5,0922e3cb8,a6a36f527,de9c9f684,ae6800dd0
3,Red,Trapezoid,Snake,Canada,Oboe,f12246592,50d7ad46a,ec69236eb,4ade6ab69,8270f0d71
4,Red,Trapezoid,Lion,Canada,Oboe,5b0f5acd5,1fe17a1fd,04ddac2be,cb43ab175,b164b72a7

In [21]:
one_nom = OneHotEncoder(handle_unknown='ignore')

In [22]:
one_nom.fit(nom_feat)

OneHotEncoder(categorical_features=None, categories=None,
       dtype=<class 'numpy.float64'>, handle_unknown='ignore',
       n_values=None, sparse=True)

In [23]:
fet = one_nom.transform(nom_feat)

In [24]:
fet.shape

(500000, 16276)

In [25]:
one_nom_fet = pd.SparseDataFrame(fet)

In [26]:
one_nom_fet.shape

(500000, 16276)

In [27]:
one_nom_fet.columns

RangeIndex(start=0, stop=16276, step=1)

In [ ]:
##%%time
#nom_feat_dum = (pd.get_dummies(nom_feat)).to_sparse()

In [ ]:
#nom_feat_dum.shape

In [ ]:
%%time
#snom_feat_dum = nom_feat_dum.to_sparse()

In [28]:
ord_feat.head()

   ord_0        ord_1        ord_2 ord_3 ord_4 ord_5
0      2  Grandmaster         Cold     h     D    kr
1      1  Grandmaster          Hot     a     A    bF
2      1       Expert     Lava Hot     h     R    Jc
3      1  Grandmaster  Boiling Hot     i     D    kW
4      1  Grandmaster     Freezing     a     R    qP

In [29]:
num_ord = ord_feat.apply(pd.Series.value_counts)
num_ord.shape

C:\Users\AI\Anaconda3\lib\site-packages\pandas\core\indexes\api.py:107: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  result = result.union(other)
C:\Users\AI\Anaconda3\lib\site-packages\pandas\core\frame.py:7397: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  index = _union_indexes(indexes)

(247, 6)

In [30]:
ord_feat['ord_0'].value_counts()

1    324891
2    110784
3     64325
Name: ord_0, dtype: int64

In [31]:
ord_feat['ord_1'].value_counts()

Novice         210877
Grandmaster    129143
Contributor     71516
Master          46755
Expert          41709
Name: ord_1, dtype: int64

In [32]:
ord_2_dict = {'Freezing':1,'Cold':2,'Warm':3,'Hot':4,'Boiling Hot':5,'Lava Hot':6}
ord_1_dict = {'Novice':1,'Contributor':2,'Expert':3,'Master':4,'Grandmaster':5}

In [33]:
def orde_scal(num_ordnl):
    
    step = 1/num_ordnl
    seq = np.arange(start=0, stop=1, step=round(step,5),dtype=np.float64)
    
    return seq

In [34]:
ord_2_dict = {'Freezing':1,'Cold':2,'Warm':3,'Hot':4,'Boiling Hot':5,'Lava Hot':6}
ord_1_dict = {'Novice':1,'Contributor':2,'Expert':3,'Master':4,'Grandmaster':5}

In [35]:
ord_0_list = ord_feat['ord_0'].unique().tolist()
ord_0_list_len = len(ord_0_list)
ord_0_list.sort()

ord_1_list = ord_feat['ord_1'].unique().tolist()
ord_1_list_len = len(ord_1_list)

ord_2_list = ord_feat['ord_2'].unique().tolist()
ord_2_list_len = len(ord_2_list)

ord_3_list = ord_feat['ord_3'].unique().tolist()
ord_3_list_len = len(ord_3_list)

ord_4_list = ord_feat['ord_4'].unique().tolist()
ord_4_list_len = len(ord_4_list)

ord_5_list = ord_feat['ord_5'].unique().tolist()
ord_5_list_len = len(ord_5_list)

In [36]:
ord_0_list_len,ord_1_list_len,ord_2_list_len,ord_3_list_len,ord_4_list_len,ord_5_list_len

(3, 5, 6, 15, 26, 192)

In [37]:
ord_0 = dict(zip(ord_0_list, orde_scal(ord_0_list_len)))
ord_0

{1: 0.0, 2: 0.33333, 3: 0.66666}

In [38]:
ord_1 = dict(zip(ord_1_dict, orde_scal(ord_1_list_len)))
ord_1

{'Novice': 0.0,
 'Contributor': 0.2,
 'Expert': 0.4,
 'Master': 0.6000000000000001,
 'Grandmaster': 0.8}

In [39]:

ord_0_uni_map = dict(zip(ord_0_list, orde_scal(ord_0_list_len)))

ord_1_uni_map = dict(zip(ord_1_dict, orde_scal(ord_1_list_len)))

ord_2_uni_map = dict(zip(ord_2_dict, orde_scal(ord_2_list_len)))

low_alfa = dict(zip(string.ascii_lowercase[0:15], orde_scal(15)))

upr_alfa = dict(zip(string.ascii_uppercase, orde_scal(26)))

ord_feat_lst = ord_feat['ord_5'].value_counts().index.values.tolist()

ord_feat_lst.sort()

upw = dict(zip(ord_feat_lst, orde_scal(192)))

In [40]:
ord_2_uni_map

{'Freezing': 0.0,
 'Cold': 0.16667,
 'Warm': 0.33334,
 'Hot': 0.5000100000000001,
 'Boiling Hot': 0.66668,
 'Lava Hot': 0.83335}

In [41]:
ord_feat.head()

   ord_0        ord_1        ord_2 ord_3 ord_4 ord_5
0      2  Grandmaster         Cold     h     D    kr
1      1  Grandmaster          Hot     a     A    bF
2      1       Expert     Lava Hot     h     R    Jc
3      1  Grandmaster  Boiling Hot     i     D    kW
4      1  Grandmaster     Freezing     a     R    qP

In [42]:
%%time
ord_feat['ord_0'] = ord_feat['ord_0'].map(ord_0_uni_map)
ord_feat['ord_1'] = ord_feat['ord_1'].map(ord_1_uni_map)
ord_feat['ord_2'] = ord_feat['ord_2'].map(ord_2_uni_map)
ord_feat['ord_3'] = ord_feat['ord_3'].map(low_alfa)
ord_feat['ord_4'] = ord_feat['ord_4'].map(upr_alfa)
ord_feat['ord_5'] = ord_feat['ord_5'].map(upw)

C:\Users\AI\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\AI\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\AI\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\AI\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

Wall time: 767 ms

C:\Users\AI\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\AI\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [43]:
ord_feat.head()

     ord_0  ord_1    ord_2    ord_3    ord_4    ord_5
0  0.33333    0.8  0.16667  0.46669  0.11538  0.70856
1  0.00000    0.8  0.50001  0.00000  0.00000  0.48453
2  0.00000    0.4  0.83335  0.46669  0.65382  0.16151
3  0.00000    0.8  0.66668  0.53336  0.11538  0.69814
4  0.00000    0.8  0.00000  0.00000  0.65382  0.82318

In [44]:
cyc_feat.head()

   day  month
0    2      2
1    7      8
2    7      2
3    2      1
4    7      8

In [45]:
cyc_feat_day_dum = pd.get_dummies(cyc_feat['day'],prefix='day')
cyc_feat_mon_dum = pd.get_dummies(cyc_feat['month'],prefix='month')

In [46]:
cyc_feat_day_dum.head()

   day_1  day_2  day_3  day_4  day_5  day_6  day_7
0      0      1      0      0      0      0      0
1      0      0      0      0      0      0      1
2      0      0      0      0      0      0      1
3      0      1      0      0      0      0      0
4      0      0      0      0      0      0      1

In [47]:
cyc_feat_mon_dum.head()

,month_1,month_2,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,0,0

In [48]:
cyc_feat_dum_day_mon = pd.concat([cyc_feat_day_dum,cyc_feat_mon_dum],axis=1, join='inner')

In [49]:
cyc_feat_dum_day_mon.head()

,day_1,day_2,day_3,day_4,day_5,day_6,day_7,month_1,month_2,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0

In [50]:
cyc_feat_dum_day_mon.shape

(500000, 19)

In [51]:
df_dum = pd.concat([bin_feat,ord_feat,cyc_feat_dum_day_mon],axis=1, join='inner')

In [52]:
df_dum.head()

,bin_0,bin_1,bin_2,bin_3,bin_4,ord_0,ord_1,ord_2,ord_3,ord_4,...,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
0,0,0,0,1,1,0.33333,0.8,0.16667,0.46669,0.11538,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,1,1,0.00000,0.8,0.50001,0.00000,0.00000,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,1,0.00000,0.4,0.83335,0.46669,0.65382,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,1,0.00000,0.8,0.66668,0.53336,0.11538,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0.00000,0.8,0.00000,0.00000,0.65382,...,0,0,0,0,0,1,0,0,0,0

In [53]:
df_dum.shape

(500000, 30)

In [55]:
16276+30

16306

In [ ]:
df_dum.to_csv('df_feat.csv',index=False)

In [ ]:
nom_feat_dum.to_csv('nom_feat_dum.csv',index=False)

In [ ]:
check1 = pd.read_csv('nom_feat_dum.csv')

In [ ]:
check1.head()

In [56]:
spar_feat = df_dum.to_sparse()

In [65]:
type(spar_feat)

pandas.core.sparse.frame.SparseDataFrame

In [58]:
spar_feat = pd.SparseDataFrame(spar_feat)

In [62]:
spar_feat.columns

Index(['bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4', 'ord_0', 'ord_1', 'ord_2',
       'ord_3', 'ord_4', 'ord_5', 'day_1', 'day_2', 'day_3', 'day_4', 'day_5',
       'day_6', 'day_7', 'month_1', 'month_2', 'month_3', 'month_4', 'month_5',
       'month_6', 'month_7', 'month_8', 'month_9', 'month_10', 'month_11',
       'month_12'],
      dtype='object')

In [63]:
one_nom_fet.columns

RangeIndex(start=0, stop=16276, step=1)

In [ ]:
spars_df = pd.concat([spar_feat,one_nom_fet],axis=1,join='inner')

In [67]:
spars_df.shape

(1000000, 16306)

In [ ]:
sam_d = pd.get_dummies(sam,drop_first=False)
sam_d

In [ ]:

#sam['bin_3'] = sam['bin_3'].astype(str)

In [ ]:
d =0
for i in df.columns :
    
    s = len(df[i].value_counts())
    d = d+s
print(d)

In [ ]:
month = pd.get_dummies(df['bin_2'],prefix='bin_2')
month

In [ ]:
data['month']

In [ ]:
pre = ['bin_0','bin_1','bin_2','bin_3','bin_4','nom_0','nom_1','nom_2','nom_3','nom_4','nom_5','nom_6','nom_7','nom_8','nom_9','ord_0','ord_1','ord_2','ord_3','ord_4','ord_5','day','month']

In [ ]:
df.info()

In [ ]:
df['month'].value_counts()

In [ ]:
month = pd.get_dummies(df['month'],prefix='month')
month

In [ ]:
day = pd.get_dummies(df['day'],prefix='day')
day

In [ ]:
del day,month

In [ ]:
for i in df.columns :
    print(i)
    i = pd.get_dummies(df[i],prefix=i)
    #print(i)

In [ ]:
df.columns[0]

In [ ]:
df['ord_1'].value_counts()

In [ ]:
df['ord_0'].value_counts()

In [ ]:
df['ord_2'].value_counts()

In [ ]:
df['ord_3'].value_counts()

In [ ]:
df['ord_4'].value_counts().count()

In [ ]:
df['ord_5'].value_counts().count()

In [ ]:
df['nom_9'].value_counts().count()

In [ ]:
pd.get_dummies(df['ord_1'],prefix='ord_1')

In [ ]:
ord_0
ord_1
ord_2
ord_3
ord_4
ord_5

In [ ]:
plt.hist(df['ord_1'])

In [ ]:
df['ord_5'].head(10)

In [ ]:
ordn = df[['ord_0','ord_1','ord_2','ord_3','ord_4','ord_5']]

In [ ]:
ordn.head(10)

In [ ]:
ordn['ord_0'].value_counts()

In [ ]:
type(ordn['ord_5'].value_counts())

In [ ]:
ord_2_dict = {'Freezing':1,'Cold':2,'Warm':3,'Hot':4,'Boiling Hot':5,'Lava Hot':6}
ord_1_dict = {'Novice':1,'Contributor':2,'Expert':3,'Master':4,'Grandmaster':5}

In [ ]:
ord_1_dict = {}

In [ ]:
import string
import itertools

low_alfa = dict(zip(string.ascii_lowercase, itertools.count(1)))

upr_alfa = dict(zip(string.ascii_uppercase, itertools.count(1)))

ordlst = ordn['ord_5'].value_counts().index.values.tolist()
upw = dict(zip(ordlst, itertools.count(1)))

In [ ]:
ord5_alf = dict(low_alfa)
ord5_alf.update(upr_alfa)

In [ ]:
ord5_alf['d']

In [ ]:
for i in ordn['ord_5'].value_counts().index:
    s = list(i)
    mult = ord5_alf[s[1]] * ord5_alf[s[0]]
    print(i)
    print(s)
    print(mult)
    break

In [ ]:
def val_re(string):
    st = list(string)
    mul = ord5_alf[st[1]] + ord5_alf[st[0]]
    return mul

In [ ]:
ordn['ord_5'] = ordn['ord_5'].apply(val_re)

In [ ]:
ordn['ord_5'].value_counts()

In [ ]:
ordn['ord_5'].value_counts()

In [ ]:
ordlst = ordn['ord_5'].value_counts().index.values.tolist()

In [ ]:
ordlst

In [ ]:
ordlst.sort()

In [ ]:
ordlst

In [ ]:
upw = dict(zip(ordlst, itertools.count(1)))