In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

#import os
#for dirname, _, filenames in os.walk('/kaggle/input'):
 #   for filename in filenames:
  #      print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

In [210]:
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
from sklearn.decomposition import TruncatedSVD,PCA
from sklearn.metrics import roc_curve
from sklearn.model_selection import GridSearchCV

import string
import itertools

In [4]:
#submission = pd.read_csv("/kaggle/input/cat-in-the-dat/sample_submission.csv")
#train = pd.read_csv("/kaggle/input/cat-in-the-dat/train.csv")
#test = pd.read_csv("/kaggle/input/cat-in-the-dat/test.csv")


train = pd.read_csv('cat-in-the-dat/train.csv')
test = pd.read_csv('cat-in-the-dat/test.csv')

In [187]:
# getting train test data id's
train_id = train['id']
test_id = test['id']
target = train['target']

In [6]:
# merging train test data sets into one data frame for feature engineering 
df = pd.concat([train.drop(labels=['id','target'],axis=1), test.drop(labels='id',axis=1)])

In [7]:
len(df.columns.values)

23

In [8]:
train.shape

(300000, 25)

In [9]:

pre = ['bin_0','bin_1','bin_2','bin_3','bin_4','nom_0','nom_1','nom_2','nom_3','nom_4','nom_5','nom_6','nom_7','nom_8','nom_9','ord_0','ord_1','ord_2','ord_3','ord_4','ord_5','day','month']
type(pre)

list

In [10]:

df_feat= df.columns.values.tolist()

In [11]:
# Because of varity of features, data set divided into 4 dataframes for analyzing 

bin_feat = df[['bin_0','bin_1','bin_2','bin_3','bin_4']]
nom_feat = df[['nom_0','nom_1','nom_2','nom_3','nom_4','nom_5','nom_6','nom_7','nom_8','nom_9']]
ord_feat = df[['ord_0','ord_1','ord_2','ord_3','ord_4','ord_5']]
cyc_feat = df[['day','month']]

In [12]:
bin_feat['bin_3'] = bin_feat['bin_3'].map({'T':1,'F':0})
bin_feat['bin_4'] = bin_feat['bin_4'].map({'Y':1,'N':0})

C:\Users\AI\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\AI\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [183]:
bin_feat.head()

   bin_0  bin_1  bin_2  bin_3  bin_4
0      0      0      0      1      1
1      0      1      0      1      1
2      0      0      0      0      1
3      0      1      0      0      1
4      0      0      0      0      0

In [205]:
bin_feat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500000 entries, 0 to 199999
Data columns (total 5 columns):
bin_0    500000 non-null int64
bin_1    500000 non-null int64
bin_2    500000 non-null int64
bin_3    500000 non-null int64
bin_4    500000 non-null int64
dtypes: int64(5)
memory usage: 22.9 MB

In [189]:
train_bin_x = bin_feat[:300000]
test_bin_y  = target

In [190]:
train_bin_x.shape,test_bin_y.shape

((300000, 5), (300000,))

In [192]:
logit_bin = LogisticRegression(solver='lbfgs', max_iter=10000,C=0.1234)
logit_bin.fit(train_bin_x,test_bin_y)

LogisticRegression(C=0.1234, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=10000,
          multi_class='warn', n_jobs=None, penalty='l2', random_state=None,
          solver='lbfgs', tol=0.0001, verbose=0, warm_start=False)

In [199]:
pred_bin  = logit_bin.predict_proba(train_bin_x)[:,1]

In [200]:
pred_bin_val = logit_bin.predict(train_bin_x)

In [197]:
fpr, tpr, _ = roc_curve(test_bin_y, pred_bin)
roc_auc = auc(fpr, tpr)

In [198]:
roc_auc

0.5598845375956535

In [201]:
accuracy_score(test_bin_y,pred_bin_val)

0.69412

In [204]:
tpr.shape

(33,)

In [206]:
score = cross_val_score(logit_bin,train_bin_x,test_bin_y,cv=cv,scoring='roc_auc')

In [209]:
print(score.mean())

0.5598683625834054

In [15]:
nom_feat.head()

,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9
0,Green,Triangle,Snake,Finland,Bassoon,50f116bcf,3ac1b8814,68f6ad3e9,c389000ab,2f4cb3d51
1,Green,Trapezoid,Hamster,Russia,Piano,b3b4d25d0,fbcb50fc1,3b6dd5612,4cd920251,f83c56c21
2,Blue,Trapezoid,Lion,Russia,Theremin,3263bdce5,0922e3cb8,a6a36f527,de9c9f684,ae6800dd0
3,Red,Trapezoid,Snake,Canada,Oboe,f12246592,50d7ad46a,ec69236eb,4ade6ab69,8270f0d71
4,Red,Trapezoid,Lion,Canada,Oboe,5b0f5acd5,1fe17a1fd,04ddac2be,cb43ab175,b164b72a7

In [16]:
num_nom = nom_feat.apply(pd.Series.value_counts)

In [17]:
# counting the number of nominal features
num_nom.shape

(16276, 10)

In [324]:
len(nom_feat['nom_0'].value_counts()),len(nom_feat['nom_1'].value_counts()),len(nom_feat['nom_3'].value_counts()),len(nom_feat['nom_4'].value_counts())

(3, 6, 6, 4)

In [323]:
len(nom_feat['nom_5'].value_counts())

222

# Using sparse dataframe

In [18]:
label_en = LabelEncoder()

In [19]:
nom_feat = nom_feat.apply(LabelEncoder().fit_transform)

In [20]:
nom_feat.head()

   nom_0  nom_1  nom_2  nom_3  nom_4  nom_5  nom_6  nom_7  nom_8  nom_9
0      1      5      5      3      0     78    120    491   1689   2192
1      1      4      3      5      2    159    510    260    652  11719
2      0      4      4      5      3     44     14    766   1935   8140
3      2      4      5      0      1    209    165   1121    631   6098
4      2      4      4      0      1     90     61     34   1763   8293

In [325]:
one_nom = OneHotEncoder(handle_unknown='ignore')

In [327]:
low_num = nom_feat[['nom_0','nom_1','nom_2','nom_3','nom_4']]

In [328]:
low_num.head()

   nom_0  nom_1  nom_2  nom_3  nom_4
0      1      5      5      3      0
1      1      4      3      5      2
2      0      4      4      5      3
3      2      4      5      0      1
4      2      4      4      0      1

In [329]:
one_nom.fit(nom_feat)

OneHotEncoder(categorical_features=None, categories=None,
       dtype=<class 'numpy.float64'>, handle_unknown='ignore',
       n_values=None, sparse=True)

OneHotEncoder(categorical_features=None, categories=None,
       dtype=<class 'numpy.float64'>, handle_unknown='ignore',
       n_values=None, sparse=True)

In [23]:
fet = one_nom.transform(nom_feat)

In [24]:
fet.shape

(500000, 16276)

In [330]:
svd = TruncatedSVD(n_components=300, n_iter=5, random_state=42)

In [331]:
%%time
svd.fit(fet)

KeyboardInterrupt:

In [294]:
%%time
nom_svd = svd.transform(fet)

Wall time: 2.55 s

In [ ]:
#nom_svd

In [295]:
#nom_svd_df = pd.DataFrame(data=nom_svd,columns = ['nom_0','nom_1','nom_2','nom_3','nom_4','nom_5','nom_6','nom_7','nom_8','nom_9'] )


nom_svd_df = pd.DataFrame(data=nom_svd)

In [296]:
nom_svd_df.head()

,0,1,2,3,4,5,6,7,8,9,...,390,391,392,393,394,395,396,397,398,399
0,0.912354,-0.721492,-0.106309,-0.249410,-0.091539,-0.027660,0.368278,0.896701,-0.338973,0.345282,...,0.004231,-0.002205,-0.001025,0.000282,-0.001654,0.001997,-0.001031,-0.003279,-0.002639,-0.003010
1,1.404079,-0.583046,-0.725166,0.035247,-0.807242,0.026833,-0.084481,-0.731022,-0.206500,0.071192,...,-0.052721,0.009142,-0.027130,0.015036,0.014897,0.027432,0.006535,-0.009401,0.000009,0.001028
2,1.430693,0.814660,-0.171869,-0.225056,-0.001535,0.000742,0.884755,-0.862228,0.832361,-0.000294,...,-0.016327,0.012861,0.024025,0.014454,-0.030317,0.065785,0.037115,-0.023694,-0.003636,-0.002416
3,1.088971,0.323853,0.750679,0.852795,-0.444734,-0.829444,-0.395606,0.145222,-0.067825,0.982246,...,0.004910,0.001937,0.003108,0.033379,-0.016104,0.024169,-0.013315,-0.035098,0.026044,-0.034805
4,1.299651,0.377085,0.731762,0.952241,0.486480,-0.836945,-0.060689,-0.355343,-0.114820,0.532726,...,-0.000639,-0.007955,0.017302,-0.008230,0.001386,0.022593,-0.001776,-0.013073,-0.004692,0.014362

In [297]:
nom_svd_df.shape

(500000, 400)

In [298]:
train_nom = nom_svd_df.iloc[0:300000]
test_nom = nom_svd_df.iloc[300000:]

In [299]:
train_nom_y = train['target']

In [300]:
train_nom_y.value_counts()

0    208236
1     91764
Name: target, dtype: int64

In [301]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold

In [302]:
%%time
logit = LogisticRegression(solver='lbfgs', max_iter=10000,C=0.1234)
logit.fit(train_nom,train_nom_y)

LogisticRegression(C=0.1234, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=10000,
          multi_class='warn', n_jobs=None, penalty='l2', random_state=None,
          solver='lbfgs', tol=0.0001, verbose=0, warm_start=False)

In [303]:
pred = logit.predict_proba(train_nom)[:,1]

In [304]:
pred_v = logit.predict(train_nom)

In [305]:
pred.shape

(300000,)

In [306]:
fpr, tpr, _ = roc_curve(train_nom_y, pred)
roc_auc = auc(fpr, tpr)

In [307]:
roc_auc

0.6450884052061424

In [308]:
from sklearn.metrics import confusion_matrix,roc_auc_score,auc,accuracy_score

In [309]:
accuracy_score(train_nom_y,pred_v)

0.6984366666666667

In [40]:
from sklearn.model_selection import cross_val_score

In [247]:
scores = cross_val_score(logit,train_nom,train_nom_y,cv=10,scoring='roc_auc')

In [97]:
#sorted(sklearn.metrics.SCORERS.keys())

In [44]:
import sklearn

In [248]:
print(scores)

[0.61575955 0.6260272  0.62227661 0.62277868 0.62637068 0.62757273
 0.62380879 0.6251947  0.62126769 0.62268784]

In [249]:
print(scores.mean())

0.6233744468489906

In [100]:
ord_feat.head()

   ord_0        ord_1        ord_2 ord_3 ord_4 ord_5
0      2  Grandmaster         Cold     h     D    kr
1      1  Grandmaster          Hot     a     A    bF
2      1       Expert     Lava Hot     h     R    Jc
3      1  Grandmaster  Boiling Hot     i     D    kW
4      1  Grandmaster     Freezing     a     R    qP

In [101]:
num_ord = ord_feat.apply(pd.Series.value_counts)
num_ord.shape

C:\Users\AI\Anaconda3\lib\site-packages\pandas\core\indexes\api.py:107: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  result = result.union(other)
C:\Users\AI\Anaconda3\lib\site-packages\pandas\core\frame.py:7397: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  index = _union_indexes(indexes)

(247, 6)

In [103]:
ord_2_dict = {'Freezing':1,'Cold':2,'Warm':3,'Hot':4,'Boiling Hot':5,'Lava Hot':6}
ord_1_dict = {'Novice':1,'Contributor':2,'Expert':3,'Master':4,'Grandmaster':5}

In [104]:
def orde_scal(num_ordnl):
    
    step = 1/num_ordnl
    seq = np.arange(start=0, stop=1, step=round(step,5),dtype=np.float64)
    
    return seq

In [105]:
ord_0_list = ord_feat['ord_0'].unique().tolist()
ord_0_list_len = len(ord_0_list)
ord_0_list.sort()

ord_1_list = ord_feat['ord_1'].unique().tolist()
ord_1_list_len = len(ord_1_list)

ord_2_list = ord_feat['ord_2'].unique().tolist()
ord_2_list_len = len(ord_2_list)

ord_3_list = ord_feat['ord_3'].unique().tolist()
ord_3_list_len = len(ord_3_list)

ord_4_list = ord_feat['ord_4'].unique().tolist()
ord_4_list_len = len(ord_4_list)

ord_5_list = ord_feat['ord_5'].unique().tolist()
ord_5_list_len = len(ord_5_list)

In [106]:
ord_0_list_len,ord_1_list_len,ord_2_list_len,ord_3_list_len,ord_4_list_len,ord_5_list_len

(3, 5, 6, 15, 26, 192)

In [107]:
ord_0 = dict(zip(ord_0_list, orde_scal(ord_0_list_len)))
ord_0

{1: 0.0, 2: 0.33333, 3: 0.66666}

In [108]:
ord_1 = dict(zip(ord_1_dict, orde_scal(ord_1_list_len)))
ord_1

{'Novice': 0.0,
 'Contributor': 0.2,
 'Expert': 0.4,
 'Master': 0.6000000000000001,
 'Grandmaster': 0.8}

In [109]:
ord_0_uni_map = dict(zip(ord_0_list, orde_scal(ord_0_list_len)))

ord_1_uni_map = dict(zip(ord_1_dict, orde_scal(ord_1_list_len)))

ord_2_uni_map = dict(zip(ord_2_dict, orde_scal(ord_2_list_len)))

low_alfa = dict(zip(string.ascii_lowercase[0:15], orde_scal(15)))

upr_alfa = dict(zip(string.ascii_uppercase, orde_scal(26)))

ord_feat_lst = ord_feat['ord_5'].value_counts().index.values.tolist()

ord_feat_lst.sort()

upw = dict(zip(ord_feat_lst, orde_scal(192)))

In [ ]:
ord_2_uni_map

In [110]:
ord_feat.head()

   ord_0        ord_1        ord_2 ord_3 ord_4 ord_5
0      2  Grandmaster         Cold     h     D    kr
1      1  Grandmaster          Hot     a     A    bF
2      1       Expert     Lava Hot     h     R    Jc
3      1  Grandmaster  Boiling Hot     i     D    kW
4      1  Grandmaster     Freezing     a     R    qP

In [111]:
%%time
ord_feat['ord_0'] = ord_feat['ord_0'].map(ord_0_uni_map)
ord_feat['ord_1'] = ord_feat['ord_1'].map(ord_1_uni_map)
ord_feat['ord_2'] = ord_feat['ord_2'].map(ord_2_uni_map)
ord_feat['ord_3'] = ord_feat['ord_3'].map(low_alfa)
ord_feat['ord_4'] = ord_feat['ord_4'].map(upr_alfa)
ord_feat['ord_5'] = ord_feat['ord_5'].map(upw)

C:\Users\AI\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\AI\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\AI\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\AI\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\AI\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

Wall time: 573 ms

C:\Users\AI\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [112]:
ord_feat.head()

     ord_0  ord_1    ord_2    ord_3    ord_4    ord_5
0  0.33333    0.8  0.16667  0.46669  0.11538  0.70856
1  0.00000    0.8  0.50001  0.00000  0.00000  0.48453
2  0.00000    0.4  0.83335  0.46669  0.65382  0.16151
3  0.00000    0.8  0.66668  0.53336  0.11538  0.69814
4  0.00000    0.8  0.00000  0.00000  0.65382  0.82318

In [113]:
day_dit = cyc_feat['day'].value_counts()

In [114]:
month_dit = cyc_feat['month'].value_counts()

In [115]:
cyc_feat_day_dum = pd.get_dummies(cyc_feat['day'],prefix='day')
cyc_feat_mon_dum = pd.get_dummies(cyc_feat['month'],prefix='month')

In [116]:
cyc_feat_dum_day_mon = pd.concat([cyc_feat_day_dum,cyc_feat_mon_dum],axis=1, join='inner')

In [117]:
cyc_feat_dum_day_mon.head()

,day_1,day_2,day_3,day_4,day_5,day_6,day_7,month_1,month_2,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0

In [118]:
#svd = TruncatedSVD(n_components=10, n_iter=5, random_state=42)

In [ ]:
#svd.fit(cyc_feat_dum_day_mon)

In [119]:
#%%time
#nom_svd = svd.transform(fet)

In [120]:
cyc_feat_dum_day_mon.shape

(500000, 19)

In [123]:
df_dum = pd.concat([bin_feat,ord_feat,cyc_feat_dum_day_mon,nom_svd_df],axis=1, join='inner')

In [124]:
df_dum.shape

(500000, 40)

In [125]:
df_dum.head()

,bin_0,bin_1,bin_2,bin_3,bin_4,ord_0,ord_1,ord_2,ord_3,ord_4,...,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9
0,0,0,0,1,1,0.33333,0.8,0.16667,0.46669,0.11538,...,0.912354,-0.721664,-0.107128,-0.249346,-0.090145,-0.028202,0.369176,0.897247,-0.343402,0.360899
1,0,1,0,1,1,0.00000,0.8,0.50001,0.00000,0.00000,...,1.404079,-0.583058,-0.725255,0.035262,-0.807097,0.027206,-0.084431,-0.731002,-0.206743,0.072109
2,0,0,0,0,1,0.00000,0.4,0.83335,0.46669,0.65382,...,1.430693,0.814660,-0.171870,-0.225055,-0.001537,0.000745,0.884795,-0.862193,0.832397,-0.000655
3,0,1,0,0,1,0.00000,0.8,0.66668,0.53336,0.11538,...,1.088971,0.323848,0.750666,0.852795,-0.445171,-0.829210,-0.395617,0.145207,-0.067756,0.981278
4,0,0,0,0,0,0.00000,0.8,0.00000,0.00000,0.65382,...,1.299651,0.377088,0.731816,0.952230,0.485980,-0.837179,-0.060686,-0.355357,-0.114486,0.519720

In [128]:
nom_svd_df.shape

(500000, 10)

In [131]:
train_set_x = df_dum[:300000]
train_set_y = train['target'].values

In [140]:
train_set_y = train['target'].values

In [138]:
train_set_y.shape,train_set_x.shape

((300000,), (300000, 40))

In [144]:
train_set_y = train_set_y.shape

(300000,)

In [165]:
df_logit = LogisticRegression(solver='lbfgs', max_iter=10000,C=0.13)

In [166]:
df_logit.fit(train_set_x,train_set_y)

LogisticRegression(C=0.13, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=10000, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [154]:
pred = df_logit.predict(train_set_x)

In [155]:
accuracy_score(train_set_y,pred)

0.7389366666666667

In [156]:
pred_prob = df_logit.predict_proba(train_set_x)

In [178]:
cv = KFold(n_splits=10, random_state=42)

In [179]:
scores = cross_val_score(logit,train_set_x,train_set_y,cv=cv,scoring='roc_auc')

In [182]:
print(scores.mean())

0.75823863077249

# Grid search

In [163]:
param_grid = { 'C': [0.100, 0.150, 0.120, 0.125, 0.130, 0.135, 0.140, 0.145, 0.150]
    
    
}

In [164]:
logit_grid = GridSearchCV(df_logit, param_grid,scoring='roc_auc', cv=10)

logit_grid.fit(train_set_x, train_set_y)

best_C = logit_grid.best_params_['C']
# best_C = C = 0.12345

print('Best C:', best_C)

Best C: 0.13

In [176]:
grid_pred = logit_grid.predict_proba(train_set_x)

In [211]:
pca_df = PCA(n_components=5)

In [212]:
pca_df.fit(df_dum)

PCA(copy=True, iterated_power='auto', n_components=5, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [213]:
df_dum_pca = pca_df.transform(df_dum)

In [215]:
df_dum_pca.shape

(500000, 5)

In [216]:
df_pca_5_fet = pd.DataFrame(data=df_dum_pca,columns=['pc_1','pc_2','pc_3','pc_4','pc_5'])

In [218]:
df_pca_5_fet.head()

       pc_1      pc_2      pc_3      pc_4      pc_5
0 -0.683447 -0.120543 -0.172456 -0.100495 -0.513338
1 -0.682151 -0.725674  0.034027 -0.721483  0.581192
2  0.671929 -0.111717 -0.325965 -0.066224  1.190667
3  0.321470  0.711831  0.828187 -0.556346  0.354565
4  0.284218  0.772284  0.840773  0.400733  0.858030

In [219]:
train_pca_x = df_pca_5_fet[:300000]
train_pca_y = train['target'].values

In [221]:
train_pca_x.shape,train_pca_y.shape

((300000, 5), (300000,))

In [222]:
df_pca_logit = LogisticRegression(solver='lbfgs', max_iter=10000,C=0.13)
df_pca_logit.fit(train_pca_x,train_pca_y)

LogisticRegression(C=0.13, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=10000, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [223]:
pred_pca = df_pca_logit.predict_proba(train_pca_x)[:,1]

In [224]:
roc_auc_score(train_pca_y,pred_pca)

0.5712654497362284

In [225]:
scores = cross_val_score(df_pca_logit,train_pca_x,train_pca_y,cv=cv,scoring='roc_auc')

In [226]:
print(scores)

[0.57079187 0.57562449 0.56924743 0.57369937 0.56850248 0.57548283
 0.57112432 0.56557614 0.57020696 0.57211863]